<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php">
    <testsuites>
        <testsuite name="JMSPaymentPaypalBundle">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- Sandbox Credentials only :) -->
        <server name="API_USERNAME" value="schmit_1283340315_biz_api1.gmail.com" />
        <server name="API_PASSWORD" value="1283340321" />
        <server name="API_SIGNATURE" value="A93vj6VJ.ZIRNjbI6GFgi4N2Km.5ATLs-EinlyWk2htEGX0xc3L8YIBo" />
    </php>

    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
    </php>
</phpunit>
